node_modules/
dist/
build/
.cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test outputs
coverage/

# Environment variables
.env
.env.*
!.env.example

# OS/editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Package manager
.pnpm-store/
